.l2-view {
  width: 1400px;
  .tab-list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #131615;
    z-index: 100;
    ul {
      display: inline-flex;
      width: auto;
      height: 30px;
      border-radius: 20px;
      background-color: $tableB;
      li {
        width: 100px;
        border-radius: 20px;
        text-align: center;
        line-height: 30px;
        font-size: 14px;
        color: $textColor;
        cursor: pointer;
        transition: 0.3s all;
      }
      li:last-child {
        width: auto;
        padding: 0 16px;
      }
      .active-tab {
        background-color: $primaryColor;
        color: white;
      }
    }
  }
  .inner-view {
    height: calc(100vh - 172px);
    overflow: auto;
    padding-top: 50px;
    padding-bottom: 20px;
    .public-content {
      width: 600px;
      padding: 30px 80px 40px;
      border-radius: 8px;
      background-color: $tableB;
      margin: 0 auto;
      .package-title {
        font-size: 22px;
        color: white;
        font-weight: 500;
      }
      .public-input {
        ul {
          li {
            margin-top: 30px;
            .lable {
              font-size: 17px;
              color: $textColor;
              font-weight: 500;
              span {
                margin-left: 4px;
                font-size: 16px;
                cursor: pointer;
              }
            }
            p {
              position: relative;
              input {
                width: 100%;
                height: 44px;
                box-sizing: border-box;
                padding-left: 26px;
                font-size: 15px;
                color: white;
                margin-top: 10px;
                border-radius: 8px;
                background-color: rgba(0, 0, 0, 0);
                border: 1px solid white;
                font-weight: 500;
              }
              input::placeholder {
                color: #5a5a5a;
              }
              .right-lable {
                position: absolute;
                right: 26px;
                font-size: 16px;
                color: white;
                font-weight: 500;
                top: 24px;
              }
            }
          }
          li:last-child {
            margin-top: 40px;
            button {
              height: 44px;
              font-size: 20px;
              font-weight: 500;
            }
          }
        }
      }
      .create-step-two {
        ul {
          li:last-child {
            display: flex;
            button:first-child {
              width: 100px;
              margin-right: 20px;
            }
            button:last-child {
              flex: 1;
            }
          }
        }
      }
    }
  }
  .inner-view::-webkit-scrollbar {
    display: none;
  }
  .history-content {
    width: 1400px;
    overflow: hidden;
    margin-top: 40px;
    margin-bottom: 20px;
    background-color: $tableB;
    border-radius: 8px;
    padding: 20px;
    button {
      border-radius: 8px;
      font-size: 12px;
      margin-right: 12px;
    }
    .table-name {
      font-size: 20px;
      font-weight: 500;
      color: white;
    }
    .table-content {
      margin-top: 14px;
      border-radius: 8px;
      overflow: hidden;
      text-align: center;
      .state-box {
        display: flex;
        align-items: center;
        .state-point {
          width: 11px;
          height: 11px;
          border-radius: 50%;
          margin-right: 10px;
        }
      }
      .failed-state {
        .state-point {
          background-color: #ff0000;
        }
      }
      .pass-state {
        .state-point {
          background-color: #00c800;
        }
      }
      .amount-oper {
        color: #1ab1e3;
      }
      .ant-table-wrapper {
        background-color: $tableB;
        .ant-table {
          background-color: $tableB;
          border-radius: 8px;
          .ant-table-thead {
            tr {
              th {
                background-color: $tableB;
                color: $textColor;
                font-weight: 500;
                border: 0;
              }
            }
          }
          .ant-table-tbody {
            .ant-table-placeholder {
              background-color: $tableB;
              .ant-empty-description {
                color: #888;
              }
              .ant-table-cell:hover {
                background-color: rgba(0, 0, 0, 0);
              }
            }
            .ant-table-placeholder:hover {
              background-color: $tableB !important;
            }
            tr {
              td {
                border: 0;
                color: white;
              }
            }
            tr:hover {
              background: #333 !important;
            }
          }
        }
      }
      .ant-spin-spinning {
        background-color: rgba(0, 0, 0, 0.7);
      }
      .ant-spin {
        max-height: none;
      }
      .ant-pagination {
        .ant-pagination-item {
          a {
            color: $textColor;
          }
        }
        .ant-pagination-item-active {
          background-color: $tableB;
          a {
            color: $primaryColor;
          }
        }
        .ant-pagination-prev,
        .ant-pagination-next {
          .ant-pagination-item-link {
            color: $textColor;
          }
        }
      }
    }
  }
  .oper-btn {
    padding: 20px 20px 80px;
    background-color: $tableB;
    border-radius: 8px;
    margin-bottom: 40px;
    .oper-name {
      font-size: 20px;
      font-weight: 500;
      color: white;
    }
    p:last-child {
      margin-top: 40px;
      text-align: center;
      button {
        margin-right: 50px;
        width: 120px;
      }
      button:last-child {
        margin-right: 0;
        margin-left: 50px;
      }
    }
  }
}
.confirm-join {
  text-align: center;
  p:first-child {
    font-size: 20px;
    color: $primaryColor;
    font-weight: bold;
  }
  p:nth-child(2) {
    font-size: 50px;
    color: $primaryColor;
    margin-top: 20px;
  }
  p:nth-child(3) {
    font-size: 16px;
    font-weight: 500;
    margin-top: 18px;
  }
  p:last-child {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    button {
      width: 94px;
    }
    button:first-child {
      margin-right: 10px;
    }
    button:last-child {
      margin-left: 10px;
    }
  }
}
@media screen and (max-width: 1280px) {
  .l2-view {
    margin-top: 1rem;
    padding: 0 1.5rem;
    width: 100%;
    .tab-list {
      padding-bottom: 1rem;
      ul {
        li {
          font-size: 0.8rem;
          width: 5rem;
        }
        li:last-child {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          padding: 0 0.3rem;
        }
      }
    }
    .inner-view {
      height: calc(100vh - 4.8rem);
      width: 100%;
      .history-view {
        .oper-btn {
          padding: 1rem 1.5rem 2rem;
          .oper-name {
            font-size: 1rem;
          }
          p:last-child {
            margin-top: 1.8rem;
            display: flex;
            justify-content: center;
            button {
              margin-right: 1.5rem;
              width: 5rem;
            }
            button:last-child {
              margin-left: 1.5rem;
              margin-right: 0;
            }
          }
        }
        .history-content {
          width: 100%;
          padding: 1rem;
          .table-name {
            font-size: 1rem;
          }
        }
      }
      .public-content {
        width: 100%;
        padding: 1rem 1.5rem;
        .package-title {
          font-size: 1.2rem;
        }
        .public-input {
          ul {
            li {
              .lable {
                font-size: 0.9rem;
              }
              p {
                input {
                  height: 2.4rem;
                  padding-left: 0.8rem;
                  font-size: 0.8rem;
                }
              }
            }
            li:last-child {
              button {
                font-size: 1rem;
                height: 2.4rem;
              }
            }
          }
        }
      }
    }
  }
  .confirm-join {
    p:last-child {
      button {
        font-size: 0.8rem;
      }
    }
  }
}
