.menu-box {
  width: 100%;
  padding: 50px 0 30px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #131615;
  z-index: 1000;
  .menu-inside {
    width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    .logo-menu {
      display: flex;
      align-items: center;
      .logo-box {
        width: 130px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 50px;
        font-size: 28px;
        font-weight: bold;
      }
      ul {
        display: flex;
        align-items: center;
        li {
          margin-right: 40px;
          cursor: pointer;
          color: white;
          transition: .3s all;
          font-weight: 500;
          font-size: 18px;
        }
        .active-tab{
          color: $primaryColor;
        }
      }
    }
    .connect-wallet-msg {
      display: flex;
      align-items: center;
      .tools-box {
        display: flex;
        align-items: center;
        .icon-oper {
          margin-right: 20px;
          cursor: pointer;
        }
        .balance-text {
          display: flex;
          align-items: center;
          color: white;
          margin-right: 30px;
        }
      }
      .select-chain {
        .mine-select {
          .ant-select-selector {
            height: 30px;
            align-items: center;
            border-radius: 8px;
            background-color: rgba(0, 0, 0, 0);
            .ant-select-selection-item {
              color: white;
              font-weight: 600;
            }
          }
          .ant-select-arrow {
            color: white;
          }
        }
      }
      .connect-btn {
        margin-left: 20px;
        display: flex;
        align-items: center;
        button {
          color: white;
          font-weight: 600;
          display: flex;
          align-items: center;
          .avatar{
            margin-right: 12px;
            transform: translateY(2px);
          }
        }
      }
    }
  }
}
