.stake-view {
  color: white;
  .tab-list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #131615;
    z-index: 100;
    padding-bottom: 16px;
    ul {
      display: inline-flex;
      width: auto;
      height: 30px;
      border-radius: 20px;
      background-color: $tableB;
      li {
        width: 100px;
        border-radius: 20px;
        text-align: center;
        line-height: 30px;
        font-size: 14px;
        color: $textColor;
        cursor: pointer;
        transition: 0.3s all;
      }
      .active-tab {
        background-color: $primaryColor;
        color: white;
      }
    }
  }
  .stake-content {
    height: calc(100vh - 172px);
    overflow: auto;
    padding-top: 60px;
    padding-bottom: 20px;
  }
  .stake-content::-webkit-scrollbar {
    display: none;
  }
}

@media screen and (max-width: 1280px) {
  .stake-view {
    margin-top: 1rem;
    padding: 0 1.5rem;
    .tab-list {
      padding-bottom: 1rem;
      ul{
        li{
          font-size: .8rem;
        }
      }
    }
    .stake-content {
      height: calc(100vh - 4.8rem);
      .stake-overview {
        .overview-data {
          margin-bottom: 3.75rem;
          ul {
            flex-direction: column;
            li {
              margin-right: 0;
              margin-bottom: 1.2rem;
              .value{
                p{
              font-size: 1.1rem;
                }
              }
            }
            li:last-child {
              margin-bottom: 0;
            }
          }
        }
        .list-data{
          padding: 1rem;
          .data-title{
            font-size: .9rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            div{
              margin-top: .5rem;
            }
            .ant-spin{
              transform: translateY(-2px);
            }
          }
          p{
            white-space:nowrap
          }
        }
      }
      .stake-inner{
        .total-stake{
          .amount-msg{
            flex-direction: column;
            li{
              width: 100%;
              margin-bottom: 1rem;
              p{
                font-size: 1rem;
              }
              .value{
                p{
                  font-size: 1.2rem;
                }
              }
            }
          }
        }
        .total-list{
          .list-name{
            font-size: .8rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            button{
              margin-top: .8rem;
            }
          }
        }
      }
    }
  }
}
